body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

canvas {
  display: block;
}

.yo-yo-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.yo-yo-form .checkbox {
  font-weight: 400;
}
.yo-yo-form .form-control {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.yo-yo-form .form-control:focus {
  z-index: 2;
}
.yo-yo-form input[type="email"], .yo-yo-form select {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.yo-yo-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu.pull-left {
  left: 0;
}

.peers {
  height: 130px;
}

.peer-image {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}